<p id="notice"><%= notice %></p>

<h1>Listing Families</h1>

<table>
  <thead>
    <tr>
      <th>Member owner</th>
      <th>Other members</th>
      <th>Address</th>
      <th>Phonenumber</th>
      <th>Others information</th>
      <th>Day week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.member_owner %></td>
        <td><%= family.other_members %></td>
        <td><%= family.address %></td>
        <td><%= family.phonenumber %></td>
        <td><%= family.others_information %></td>
        <td><%= family.day_week %></td>
        <td><%= link_to 'Show', family %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family', new_family_path %>
