<!DOCTYPE html>
<html>
<head>
  <title>Visitar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user.present? %>
        Bem vindo <%= current_user.email %>
        <%= link_to 'SAIR', destroy_user_session_path, :method => :delete %>
     <% else %>
        <%= link_to "CADASTRAR", new_user_registration_path %>
        <%= link_to "ENTRAR", new_user_session_path %>
  <% end %>i

<%= yield %>

</body>
</html>
